.page-node-media-bulk-update .filter-wrapper {
    width: 85%;
    margin-left: 10px;
}

.page-node-media-bulk-update .media-multiedit-form .file-image-form:nth-child(even) {
    background: #efefef;
    padding: 12px;
}

.page-node-media-bulk-update .media-multiedit-form .file-image-form:nth-child(odd) {
    background: #d9d9d9;
    padding: 12px;
}

.page-node-media-bulk-update .block,
.page-node-media-bulk-update .item-list,
.page-node-media-bulk-update .help-items ul,
.page-node-media-bulk-update .form-item,
.page-node-media-bulk-update .confirmation ul,
.page-node-media-bulk-update .admin-list,
.page-node-media-bulk-update .node-type-list,
.page-node-media-bulk-update .admin-panel {
    background: none;
    margin: none;
    border: none
}

.page-node-media-bulk-update .button-apply-all {
    cursor: pointer;
    padding: 2px 10px;
    color: #333;
    text-align: center;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #ccc;
    background: #fff url(images/buttons.png) -1px 50% no-repeat;
    box-shadow: #ddd 0px 1px 1px;
    -moz-box-shadow: #ddd 0px 1px 1px;
    -webkit-box-shadow: #ddd 0px 1px 1px;
    margin-left: 1%;
    padding: 7px;
    float: right;
    width: 12%;
}

.page-node-media-bulk-update .text-format-wrapper .form-item {
    background: none;
}

.page-node-media-bulk-update .form-type-textarea .button-apply-all {
    margin-top: -25px;
}

.page-node-media-bulk-update .button-yes {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.page-node-media-bulk-update .form-type-file .description {
    display: none;
}